<h1>Home</h1>
<div fxLayout="column" fxLayoutGap="16px">
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Data Structures</mat-card-title>
      <mat-card-subtitle>The many ways to store data</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="assets/images/data.jpg" />
  </mat-card>
  <div
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutGap="16px"
    fxLayoutAlign.gt-sm="space-between"
    id="structures"
  >
    <mat-card matRipple (click)="goto('list')" fxFlex>
      <mat-card-header>
        <mat-card-title>List</mat-card-title>
        <mat-card-subtitle>DYNAMIC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Data structure that could order data when it is
          <strong>added</strong> to it.
        </p>
        <p>It can also show items from the middle of the structure.</p>
      </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="goto('queue')" fxFlex>
      <mat-card-header>
        <mat-card-title>Queue</mat-card-title>
        <mat-card-subtitle>F.I.F.O</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>First in, first out</p>
        <p>
          Data structure that can <strong>enqueue</strong> or
          <strong>dequeue</strong> data.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="goto('stack')" fxFlex>
      <mat-card-header>
        <mat-card-title>Stack</mat-card-title>
        <mat-card-subtitle>F.I.L.O</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>First in, last out</p>
        <p>
          Data structure that can <strong>push</strong> or
          <strong>pop</strong> data.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="goto('tree')" fxFlex>
      <mat-card-header>
        <mat-card-title>Tree</mat-card-title>
        <mat-card-subtitle>DYNAMIC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
</div>
