<div class="container" [class.dark-theme]="theme">
  <app-navigation></app-navigation>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <mat-nav-list>
        <h3 matSubheader>Basic</h3>
        <a mat-list-item routerLink="list" disabled>
          <mat-icon color="primary">list</mat-icon>List
        </a>
        <a mat-list-item routerLink="queue" disabled>
          <mat-icon color="primary">people</mat-icon>
          Queue
        </a>
        <a mat-list-item routerLink="stack" disabled>
          <mat-icon color="primary">horizontal_split</mat-icon>Stack
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>Complex</h3>
        <a mat-list-item routerLink="tree">
          <mat-icon color="primary">account_tree</mat-icon>
          Tree
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <div fxLayout="column" fxLayoutAlign="none stretch">
        <ng-content></ng-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-footer></app-footer>
</div>
