/* 
 visit
 https://material.io/design/color/the-color-system.html#tools-for-picking-colors
 to create a palette
*/

$primary: mat-palette($mat-indigo, 400);
$accent: mat-palette($mat-purple, 400);
$warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// style component example
@mixin light-general-color($theme) {
  $config: mat-get-color-config($theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $bg: mat-color(mat-palette($mat-grey, 100));

  body {
    background-color: $bg;
  }

  .warn {
    color: white !important;
  }
  .info {
    color: white !important;
  }
}

@mixin light-general-theme($theme) {
  $color: mat-get-color-config($theme);
  @if $color != null {
    @include light-general-color($color);
  }
}
