/* 
 visit
 https://material.io/design/color/the-color-system.html#tools-for-picking-colors
 to create a palette
*/

$primary: mat-palette($mat-indigo, 400);
$accent: mat-palette($mat-purple, 400);
$warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// style component example
@mixin light-alert-color($theme) {
  $config: mat-get-color-config($theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  // styles of this theme
  app-input {
    mat-icon {
      margin-right: 16px;
    }
  }
  .warn {
    background-color: mat-color($warn, 800) !important;
    color: white !important;
  }
  .info {
    background-color: mat-color($primary) !important;
    color: white !important;
  }
}

@mixin light-alert-theme($theme) {
  $color: mat-get-color-config($theme);
  @if $color != null {
    @include light-alert-color($color);
  }
}
