/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-nav-list {
  a.mat-list-item {
    mat-icon.mat-icon {
      margin-right: $main-distance;
    }
  }
}
