/* 
 visit
 https://material.io/design/color/the-color-system.html#tools-for-picking-colors
 to create a palette
*/

@import "~@angular/material/theming";
@include mat-core();
@import "themes/dark-theme";
@import "themes/light-theme";

@include angular-material-theme($light-theme);
@include light-alert-theme($light-theme);

.dark-theme {
  @include angular-material-color($dark-theme);
  @include dark-alert-theme($dark-theme);
}
